In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
dataset = pd.read_csv('data/all_stock_close.csv')
dataset['Date'] = pd.to_datetime(dataset['Date'])
dataset.set_index('Date', drop=True, inplace=True)
dataset.head(3)

,0001.HK,0002.HK,0003.HK,0004.HK,0005.HK,0006.HK,0007.HK,0008.HK,0009.HK,0010.HK,...,8612.HK,8613.HK,8619.HK,8621.HK,8622.HK,8627.HK,8631.HK,8635.HK,8668.HK,9900.HK
Date,,,,,,,,,,,,,,,,,,,,,
2019-11-18,68.200218,76.621101,13.894835,18.031931,57.980183,51.817047,0.86,4.268155,0.122,19.018490,...,0.56,0.070,1.74,0.49,0.139,0.24,0.16,0.118341,0.162,1.45
2019-11-19,69.289536,77.142654,14.061546,18.130037,58.627724,52.288540,0.86,4.324192,0.119,19.213554,...,0.53,0.068,1.70,0.56,0.126,0.51,0.16,0.121275,0.162,1.47
2019-11-20,69.052727,76.621101,14.006008,17.816097,58.279049,52.524284,0.84,4.333531,0.118,19.330589,...,0.53,0.068,1.68,0.69,0.127,0.46,0.17,0.124209,0.165,1.42

In [3]:
prevday_returns = np.log(dataset.shift(1)/dataset.shift(2))
today_returns = np.log(dataset/dataset.shift(1))

In [5]:
# Forming dataframe for today_returns
# Deleting the NaN rows
df1 = pd.concat([today_returns], axis=1)
df1 = df1.drop(df1.index[[0,1,-1]], axis=0)

In [6]:
# Forming dataframe for prevday_returns
# Deleting the NaN rows
df2 = pd.concat([prevday_returns], axis=1)
df2 = df2.drop(df2.index[[0,1,-1]], axis=0)

In [7]:
# Finding correlation between today_returns of all stocks & the prevday_returns of catalyzing stocks (catstocks)
# Sorting correlation results in descending order
catstocks = ['0001.HK', '0002.HK']
for catstock in catstocks:
    sorted_corr = df1.corrwith(df2[catstock], axis=0).sort_values(ascending=False)
    print(sorted_corr.head(10))

0959.HK    0.318959
0050.HK    0.290289
1570.HK    0.274864
1245.HK    0.265212
1849.HK    0.259093
6033.HK    0.250742
0983.HK    0.242559
0900.HK    0.235652
1992.HK    0.232487
0216.HK    0.226895
dtype: float64
1708.HK    0.300469
1245.HK    0.251845
0693.HK    0.251432
1265.HK    0.250103
1326.HK    0.232855
1721.HK    0.227194
1401.HK    0.221739
0050.HK    0.208615
0126.HK    0.205474
1570.HK    0.200925
dtype: float64

In [13]:
# Finding contemporaneous correlation between all stocks & top 5 rising stocks
# Sorting correlation results in descending order
catstocks = ['2008.HK', '0112.HK', '1302.HK', '1771.HK', '1499.HK']
for catstock in catstocks:
    sorted_corr = df1.corrwith(df1[catstock], axis=0).sort_values(ascending=False)
    print(sorted_corr.head(10))

2008.HK    1.000000
0882.HK    0.352114
0563.HK    0.328766
1126.HK    0.306684
0165.HK    0.284083
1111.HK    0.278494
1686.HK    0.276559
8156.HK    0.276532
6837.HK    0.276504
1428.HK    0.276011
dtype: float64
0112.HK    1.000000
1290.HK    0.200091
0416.HK    0.165834
0753.HK    0.164127
1368.HK    0.162201
0760.HK    0.161187
1589.HK    0.159033
0500.HK    0.156658
1608.HK    0.156462
1459.HK    0.154603
dtype: float64
1302.HK    1.000000
2168.HK    0.394455
1521.HK    0.378685
1951.HK    0.376068
3662.HK    0.354009
1177.HK    0.353124
1755.HK    0.352271
1099.HK    0.348798
0853.HK    0.345396
1530.HK    0.342022
dtype: float64
1771.HK    1.000000
0618.HK    0.306515
8041.HK    0.296297
1332.HK    0.251089
1837.HK    0.250423
1731.HK    0.246405
0131.HK    0.246215
1782.HK    0.244725
0626.HK    0.240230
0464.HK    0.234057
dtype: float64
1499.HK    1.000000
1611.HK    0.402317
0439.HK    0.270495
6060.HK    0.269774
0631.HK    0.262440
1772.HK    0.258273
2119.HK    0.255020
0465.HK    0.251900
1647.HK    0.245105
0777.HK    0.245041
dtype: float64